.hero {
  margin-top: 40px;
}

.slider-list {
  width: 1040px;
  height: 400px;
}

.slider__img {
  width: 1040px;
  height: 400px;
}

.rrr {}

.slider {
  margin: 0 60px;
}

.hero {
  grid-column: 1/25;
}
