.hero {
  margin-top: 40px;
  grid-column: 1/25;
}

.slider-container {
  display: block;
  width: 1040px;
  height: 400px;
}

.slider__img {
  width: 1040px;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slider {
  margin: 0 60px;
}
