.navigation {
  display: flex;
  align-items: center;
  gap: 10px;

  @media screen and(min-width:1024px) {
    margin: 25px 0 40px;
  }

  &__link {
    padding: 10px 0;

    @media screen and(min-width:1024px) {
      &:hover {
        color: #159f75;
      }
    }
  }

  &__link-title {
    text-transform: capitalize;
  }
}
