.homeCatalog {
  grid-column: 1/25;
  width: 100%;
  justify-content: center;
  align-items: center;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__block {
    display: flex;
  }

  &__list {
    padding: 0;
    display: flex;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    list-style-type: none;
  }

  &__item {

    flex: 0 0 auto;
    transition: transform 0.3s ease-in-out;
  }

  &__button {
    margin-right: 16px;
  }
}
