.category {
  grid-column: 1;

  &__title {
    margin-bottom: 24px;
  }

  &__block {
    display: flex;
    gap: 16px;
  }
}

.category-card {
  &__link {
    display: block;
    width: 368px;
    height: 368px;
  }

  &__img {
    display: block;
    width: 368px;
    height: 368px;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;

    &:hover {
      transform: scale(1.03);
    }
  }

  &__info {
    margin-top: 24px;
  }
}
