.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  margin-bottom: 6px;

  @media (min-width: 768px) {
    margin-bottom: 16px;

    &:hover {
      color: #159f75;
    }
  }

}
