.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 24px;
  background: var(--Primary, #0a6549);
  box-shadow: 0 1px 0 0 #e2e6e9;

  &__leftbar {
    display: flex;
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;

  @media (min-width: 1440) {
    gap: 64px;
  }
}
