.footer {
  width: 100%;
  grid-column: 1;
  background: #150d48;
  box-shadow: 0 -1px 0 0 #e2e6e9;
  margin: 0 auto;
  padding: 30px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navigation {

    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (min-width:768px) {
      flex-direction: row;
      gap: 64px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__btn-up {
    border-radius: 8px;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid var(--gray-elements, #e2e6e9);
    opacity: 0.5;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &__btn-up svg {
    fill: #fff;
  }

  &__btn-link {
    font-size: 12px;
    font-weight: 600;
    color: var(--gray-secondary, #89939a);
  }
}
